
.intro{
  height: 70vh;
  background: url('header 2.jpg');
  position: relative;
  background-size: cover;
}
.intro h1{
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    text-align: center;
    padding-top: 25vh;
    color: #fdb927;
    font-family: 'Copperplate Gothic Std';
    font-weight: bold;
    font-style: normal;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}



.container-no-overflow{
  height: 100%;
}

/*ITEMS CSS*/
.items {

}

.items-image{
  height: 400px;
  width: auto;

}
.items  h1{
  font-size: 2rem;
  color: Black;
  font-family: 'Copperplate Gothic Std';
  font-weight: bold;
  font-style: normal;
  text-align: center;

}
.items h2{
  text-align: center;
  font-family: 'Copperplate Gothic Std';
}

.items-description{

}

.items p{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.items-button{
margin-top: 10px;
}

.items-button-sold{
  margin-top: 10px;
  background-color: #9da39e !important;
}


/*NAVBAR CSS*/
.navbar-color{
    background-color:#ffffff;

}
.navbar-scroll{
  background-color: #ffffff ;

}

.navbar-style {
  border-bottom: 1px solid #aaa;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-transform: uppercase;
  color: #808080 !important;
  background-color: #ffffff;
}


  @media  (min-width: 1000px) {
    .navbar-box{
      margin-left: 15vw;
    }
    .navbar-link{
      text-align: center;
      margin: 0 auto;
    }
  }






/*FILTER CSS*/
.filter{
text-align: center;
margin: 0 auto;
overflow: auto;
}



.filter-button {
  cursor: pointer;
}


/*CART CSS*/
.cart-items{

}

.cart-items h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.cart-items-images{
   max-width:250px;
   max-height:250px;
   width: auto;
   height: auto;
}

.cart-col{
  margin: 10px;
}
.cart-row{
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.cart-info h1{
  font-size: 24px;
  text-align: center;
  margin-top: 2.5%;
}

@media  (min-width: 1000px) {
  .cart-info{
    max-width: 35%;
  }
}




/*CART EMPTY CSS*/
.cart-empty{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 25%;
}
.cart-empty img{
  margin-bottom: 10px;
}

/*FOOTER*/

.footer{
  border-top: 1px solid #aaa;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #878787;
}

.footer a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #878787;
  font-size: 18px;
}

.footer h1{
  font-size: 30px;
}

.footer p{
  font-size: 18px;
}

.footer-col{

}



.loading h1{
  color: black;
  opacity: 50%;
  float: "left";
  margin-right: "30px" ;
}
